mixin header
    +b('header').header
        +e('div').wrapper!= "header"

        +e('div').burger(class="aside_trigger", touch-action="none")
            +e('span').line
            +e('span').line
            +e('span').line
