$header: '.header';

#{$header} {
    position: relative;
    flex: none;
    height: 100px;
    background-color: $color-silver;

    &__wrapper {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        font-size: $font-size-large;
        line-height: $line-height-prelittle;
        color: darken($color-silver, 20%);
    }

    @include respond-to('prebig') {
        height: 80px;
    }
}
